.cart-container{
    margin-right: 20px;
    position: sticky;
    top: 15px;
    margin-top: -48px;
}
.cart{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
}
.cart img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.cart-info{
    display: flex;
    justify-content: space-between;
    background-color: rgb(169, 186, 184);
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 4px;
}
.break-container{
    background-color: rgb(169, 186, 184);
    padding: 12px;
    border-radius: 6px;
}
.btn-break{
    border: none;
    padding: 5px;
    margin-right: 9px;
    border-radius: 30px;
}
.btn-break:hover{
    background-color: rgb(187, 232, 228);
}
.activities-details{
    background-color: rgb(169, 186, 184);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 12px;
}
